*{
	padding: 0;
	margin: 0:;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color:#000;
	--text-color: #B6B6B4;
	--secound-color: #98AFC7;
	--main-color: #52595D;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font:1.1rem;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}

header{
	position: fixed;
	width: 100%;
	height: 15%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg-color);
	padding: 30px 18%;
	transition:  .3s;
}

.logo img{
	max-width: 100%;
	width:200px;
	height: auto;
}

.navlist{

	display: flex;
}

.navlist li{
	position: relative;
}

.navlist a{
	font-size:var(--p-font);
	color: var(--text-color);
	font-weight: 500;
	padding: 10px 27px;
}

.navlist a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: var(--main-color);
	bottom: -3px;
	left: 0;
	transition: ease  .40s;
}

.navlist a:hover::after{
	width: 100%;
}

#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

.top-btn{
	display: inline-block;
	padding: 9px 30px;
	background: transparent;
	border: 2px solid var(--main-color);
	border-radius: 30px;
	color: var(--text-color);
	letter-spacing: 1px;
	font-size: var(--p-font);
	font-weight: 500;
	transition: ease  .50s;
}

.top-btn:hover{
	transform: scale(1.1);
	background: var(--main-color);
	border: 2px solid var(--main-color);
	color: var(--bg-color);
}

section{
	padding: 100px 18%;
}

.home{
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background: url(img/5.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	grid-gap: 4rem;
}

.home-img img{
	max-width: 100%;
	width: 70%;
	height: auto;
	border-radius: 60px;
}

.home-text h1{
	margin: 10px 0px 25px;
	font-size: var(--big-font);
	line-height: 1;
	font-weight: 500;
}

.home-text h5{
	margin-bottom: 23px;
	font-size: 19px;
	font-weight: 500;
}

span{
	color: var(--main-color);
}

.home-text h3{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}

.home-text p{
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 20px;
}

.social a{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--secound-color);
	font-size: 17px;
	color: var(--bg-color);
	margin-right:22px;
	margin-bottom: 25px;
}

.social a:hover{
	transform: scale(1.1);
	background: var(--main-color);
	transition: 0.5;
}

.btn{
	display: inline-block;
	color: var(--bg-color);
	background: var(--main-color);
	font-size: var(--p-font);
	padding: 10px 40px;
	font-weight: 500;
	line-height: 24px;
	transition: ease 0.40s;
	border-radius: 30px;
}

.btn:hover{
	transform: scale(1.1);
}

.about{
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	grid-gap: 2rem;
}
.about-img img{
	max-width: 100%;
	width: 540px;
	height: auto;
	border-radius: 60px;
	margin-top: 0px;
}
.about-text h2{
	font-size: var(--h2-font);
	font-weight: 500;
	margin: 8px 0px 25px;
	line-height: 1.1;
}
.about-text h3{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}
.about-text p{
	max-width: 550px;
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 45px;
}

.about-table table,td,th{
	font-size: var(--p-font);
	border: 2px solid;
	border-collapse: collapse;
	text-align:center;
	padding: 20px;
}

.about-table th{
	background-color: var(--main-color);
}

.about-skill .skills{
    flex:1 1 40rem;
}

.about-skill.progress{
    padding:1rem 0;
}

.about-skill .skills .progress p{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: var(--p-font);
    color:var(--text-color);
}

.about-skill .skills .progress .bar{
    width:100%;
    background:#ccc;
    overflow:hidden;
    height:5px;
    border-radius: 50rem;
}

.about-skill .skills .progress .bar span{
    display:block;
    height:100%;
    background:var(--main-color);
    border-radius: 50rem;
}

.about-skill .skills .progress:nth-child(1) .bar span{
    width:70%;
}

.about-skill .skills .progress:nth-child(2) .bar span{
    width:85%;
}

.about-skill .skills .progress:nth-child(3) .bar span{
    width:80%;
}

.about-skill .skills .progress:nth-child(4) .bar span{
    width:85%;
}

.about-skill .skills .progress:nth-child(5) .bar span{
    width:70%;
}

.about-skill .skills .progress:nth-child(6) .bar span{
    width:98%;
}

.about-skill .skills .progress:nth-child(7) .bar span{
    width:90%;
}

.about-skill .skills .progress:nth-child(8) .bar span{
    width:95%;
}

.about-serv-img i{
	width:10px;
	height: auto;
}

.about-serv h2{
	font-size: var(--h2-font);
	font-weight: 500;
	margin: 8px 0px 25px;
	line-height: 1.1;
}

.about-serv h5{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}

.about-serv p{
	max-width: 550px;
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 45px;
}

.project {
	display: flex;
	text-align: center;
	justify-content: center;
}

.project .swiper{
	width:90%;
	height:auto;
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.project .file{
	margin: 20px;
}

.project .swiper .swiper-slide video{
	width:80%;
	height:auto;
}




.gallery-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
	cursor: pointer;
}
.col{
	position: relative;
}
.col img{
	max-width: 100%;
	width: 550px;
	height: auto;
	object-fit: cover;
	border-radius: 12px;
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 12px;
	transition: all .40s;
}
.layer:hover{
	background: linear-gradient(rgba(0,0,0,0.5) 0%, #191919);
}
.layer h3{
	position: absolute;
	width: 100%;
	font-size: 25px;
	font-weight: 500;
	color: var(--p-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
}
.layer:hover h3{
	bottom: 52%;
	opacity: 1;
}

.layer h5{
	position: absolute;
	width: 100%;
	font-size:17px;
	font-weight: 500;
	color: var(--p-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
	margin: 10px;
}
.layer:hover h5{
	bottom: 48%;
	opacity: 1;
}

.contact .contact-info .social a{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--main-color);
	font-size: 20px;
	color: var(--bg-color);
	margin:15px;
	margin-right:22px;
	margin-bottom: 25px;
}

.contact h2{
	font-size: var(--h2-font);
	font-weight: 500;
	margin: 30px;
	line-height: 1.1
}

.contact form{
	font-size: 2rem;
	border-radius: 20px;
}

/* Style inputs */
input[type=text], select, textarea 
{
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 30px;
  font-size:var(--p-font);
}

input[type=submit] 
{
    background-color : black;
    border : 1px solid var(--main-color);
    padding : 10px 28px;
    display : inline-block;
    border-radius : 30px;
    color : #ffffff;
    font-weight : 500;
    text-transform : capitalize;
    font-family : inherit;
    font-size  : 16px;
    cursor : pointer;
    user-select :none;
    position : relative;
    overflow : hidden;
    vertical-align : middle;
    transition : color 0.3s ease;
}

input[type=submit]:hover
{
  background-color: var(--main-color);
}

input[type=reset] 
{
    background-color : black;
    border : 1px solid var(--main-color);
    padding : 10px 28px;
    display : inline-block;
    border-radius : 30px;
    color : #ffffff;
    font-weight : 500;
    text-transform : capitalize;
    font-family : inherit;
    font-size  : 16px;
    cursor : pointer;
    user-select :none;
    position : relative;
    overflow : hidden;
    vertical-align : middle;
    transition : color 0.3s ease;
}

input[type=reset]:hover
{
  background-color: var(--main-color);
}
	
.ends{
	text-align: center;
	padding: 20px;
}
.ends p{
	font-size: var(--p-font);
	letter-spacing: 1px;
}

@media (max-width: 1425px){
	header{
		padding: 16px 3%;
		transition: .3s;
	}
	header.sticky{
		padding: 10px 3%;
		transition: .3s;
	}
	section{
		padding: 70px 3%;
		transition: .3s;
	}
	.contact{
		width: 95%;
		transition: .3s;
	}
	:root{
		--big-font: 4rem;
		--h2-font: 2.3rem;
		--p-font: 1rem;
		transition: .3s;
	}
}

@media (max-width: 970px){
	#menu-icon{
		display: block;
	}
	.home{
		min-height: 80vh;
	}
	.navlist{
		position: absolute;
		top: -600px;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--main-color);
		text-align: right;
		transition: all .40s;
	}
	.navlist a{
		display: block;
		padding: 1.2rem;
		margin: 1.5rem;
		border-right: 2px solid var(--bg-color);
		color: var(--bg-color);
	}
	.navlist a:hover{
		background: var(--bg-color);
		color: var(--main-color);
	}
	.navlist a::after{
		display: none;
	}
	.navlist.active{
		top: 100%;
	}
}

@media (max-width: 800px){
	.home{
		grid-template-columns: 1fr;
		min-height: 130vh;
		grid-gap: 1rem;
	}
	.home-text{
		padding-top: 55px;
	}
	.home-img{
		text-align: center;
	}
	.home-img img{
		width: 440px;
		height: auto;
	}
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		margin-bottom: 30px;
	}
	:root{
		--big-font: 3.4rem;
		--h2-font: 2rem;
	}
	section{
		padding: 65px 3%;
		transition: .3s;
	}
}
@media (max-width: 540px){
	.contact .action form input[type="email"] {
		width: 310px;
	}
}